{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Django Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&display=swap" rel="stylesheet">

  <!--collectstatic-->
  <link rel='stylesheet', href="{% static 'cv_project/css/styles.css' %}">

</head>

<body>
  <div class="page-header">
    <h1>
      Look for my face🙄
    </h1>
  </div>
  <div class="container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <a style="color:red;">얼굴을 감지할 이미지 선택 후 upload를 눌러주세요</a>
      <button type="submit">Upload</button>
    </form>
  <br/>

  {% if post %}
    <a>결과 확인👇🏻</a>
    <img src="{{ post.document.url }}">
    <p>Uploaded file @ : <a href="{{ post.document.url }}">{{ post.document }}</a></p>
  {% endif %}
  <br/>

  <p><a href="{% url 'opencv_webapp:index' %}">Return to home</a></p>

</div>
</body>

</html>
